dotenv
marshmallow
pydantic
pandas
requests
numpy
pytz
psycopg[binary]
psycopg-pool

langchain_google_genai
langchain-community
langchain_core
langchain_text_splitters
langchain

langgraph
langgraph-checkpoint-postgres

langmem

tavily-python

streamlit
