volumes:
    langgraph-data:
        driver: local
    postgres-data:
        driver: local

networks:
  echo-net:
    driver: bridge

services:
    langgraph-postgres:
        image: ankane/pgvector
        container_name: langgraph-postgres
        env_file:
            - .env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "5433:5432"
        volumes:
            - postgres-data:/var/lib/postgresql/data
        networks:
            - echo-net
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 5s
            timeout: 5s
            retries: 5

    langgraph-redis:
        image: redis:6
        ports:
            - "6379:6379"
        healthcheck:
            test: ["CMD-SHELL", "redis-cli ping"]
            interval: 5s
            timeout: 1s
            retries: 5
        networks:
            - echo-net
    langgraph-api:
        container_name: langgraph-api
        build: .
        env_file:
            - .env
        ports:
            - "${EXTERNAL_PORT}:8000"
        depends_on:
            langgraph-redis:
                condition: service_healthy
            langgraph-postgres:
                condition: service_healthy
        environment:
            REDIS_URI: redis://langgraph-redis:6379
            POSTGRES_URI: ${POSTGRES_URI}
            GOOGLE_API_KEY: ${GOOGLE_API_KEY}
            LANGSMITH_API_KEY: ${LANGSMITH_API_KEY}
            LANGSMITH_TRACING: ${LANGSMITH_TRACING}
            LANGSMITH_ENDPOINT: ${LANGSMITH_ENDPOINT}
            LANGSMITH_PROJECT: ${LANGSMITH_PROJECT}
            TAVILY_API_KEY: ${TAVILY_API_KEY}
        networks:
            - echo-net