# LLM Configuration (OpenRouter)
OPENROUTER_API_KEY=""
LLM_MODEL="llm-model"
LLM_STRUCTURED_MODEL="llm-model"
LLM_MAX_RETRIES=2

# Embeddings (Google)
GOOGLE_API_KEY=""
EMBEDDING_MODEL="models/gemini-embedding-001"

# Tools
TAVILY_API_KEY="api-key"

# Environment
ECHO_ENV="development"

# Reasoning
MAX_ITERATIONS=5

# Database
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

# Langsmith
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="api-key"

# For personal use (docker):
IMAGE_NAME="echo-ai:latest"
EXTERNAL_PORT='8002'
POSTGRES_DB="echo_ai"
POSTGRES_URI="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@langgraph-postgres:5432/${POSTGRES_DB}?sslmode=disable"
REDIS_URI="redis://langgraph-redis:6379"
LANGSMITH_TRACING=false
LANGSMITH_PROJECT="project-name"

# For test on terminal:
# POSTGRES_DB="echo_ai_test"
# POSTGRES_URI="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5433/${POSTGRES_DB}?sslmode=disable"
# REDIS_URI="redis://127.0.0.1:6379"
# LANGSMITH_TRACING=true
# LANGSMITH_PROJECT="project-name"